/* --- Google Fonts --- */
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Montserrat:400,700|Poppins:400,700|Inconsolata:400");

/* --- Fontawesome --- */
@import url("https://use.fontawesome.com/releases/v5.7.1/css/all.css");

/* --- Components design --- */
@import url("components/alert.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/dropdown.css");
@import url("components/card.css");
@import url("components/badge.css");
@import url("components/banner.css");
@import url("components/tabs.css");
@import url("components/list.css");
@import url("components/color.css");
@import url("components/form.css");
@import url("components/code_box.css");

body {
  font-family: "Open Sans", "Helvetica", "sans-serif";
  padding-bottom: 200px;
  background: #F0F1F5;
  padding-top: 50px;
}
p, h1, h2, h3, h4, h5 {
  font-family: "Montserrat", "sans-serif";
}

h2, h3, h4 {
  margin: 8px;
  padding: 15px;
}

p {
  margin: 15px 0;
}

.card > h3 {
  margin: 0;
  padding: 0;
}
