 <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Backend Cheat Sheet</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Source+Serif+Pro" rel="stylesheet">
<!--     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="https://kitt.lewagon.com/placeholder/users/AgP42">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- Leave those next 4 lines if you care about users using IE8 -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
      <!-- avatar -->
      <a class="navbar-brand" href="https://github.com/AgP42" target="_blank">
        <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/AgP42" />
      </a>
      <!-- responsive button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="#">1. Links <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="#">2. </a>
          <a class="nav-item nav-link" href="#">3. </a>
        </div>
      </div>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="main.html">Main</a>
          <a class="nav-item nav-link" href="frontend.html">FrontEnd</a>
          <a class="nav-item nav-link active" href="backend.html">Backend/Rails</a>
        </div>
      </div>
    </nav>

    <div class="container">

    <h1 class="text-center m-5" id="usefull_links">Backend Cheat Sheet Le Wagon</h1>
    <h2 class="text-center m-2" id="usefull_links">1- Usefull links</h2>

    <div class="row">

      <div class="col-lg-4">
        <div class="card p-2 m-1 bg-beige">
          <h3>Documentation</h3>
          <a href="https://docs.google.com/document/d/1gob2n-B_mDoKxeN7O3gkl1lCtOh5EiaUswOu9zmEUBQ/edit" class="btn btn-light btn-flat m-2" target="_blank">Fiche Perso (GDoc)</a>
          <a href="ruby-doc.org/core" class="btn btn-light btn-flat m-2" target="_blank">Ruby core</a>
          <a href="https://guides.rubyonrails.org/" class="btn btn-light btn-flat m-2" target="_blank">Ruby on Rails core</a>
          <!-- <a href="https://kitt.lewagon.com/db/" class="btn btn-light btn-flat m-2" target="_blank">Le Wagon DB tool</a> -->
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 col-xl-3">
        <div class="card p-2 m-1 bg-light">
          <h3>RegEx</h3>
          <a href="https://rubular.com/" class="btn bg-black-coral btn-flat btn-flat m-2" target="_blank">Rubular</a>
          <a href="https://regex101.com/" class="btn bg-black-coral btn-flat m-2" target="_blank">Regex101</a>
          <a href="https://regexr.com/" class="btn bg-black-coral btn-flat m-2" target="_blank">Regexr (collection of RegEx)</a>
          <a href="https://www.debuggex.com/" class="btn bg-black-coral btn-flat m-2" target="_blank">Debuggex (visualisation)/</a>
          <a href="https://www.cssfontstack.com/" class="btn bg-black-coral btn-flat m-2" target="_blank">cssfontstack</a>
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 col-xl-3">
        <div class="card p-2 m-1 bg-light">
          <h3>DataBases</h3>
          <a href="https://kitt.lewagon.com/db/" class="btn bg-acajou btn-flat m-2" target="_blank">Le Wagon DB tool</a>
          <a href="https://kitt.lewagon.com/knowledge/lectures/03-AR-Database%2F03-ActiveRecord-Basics#source" class="btn bg-acajou btn-flat m-2" target="_blank">Le Wagon ActiveRecord - Basics</a>
          <a href="https://edgeguides.rubyonrails.org/active_record_basics.html" class="btn bg-acajou btn-flat m-2" target="_blank">Rails guide ActiveRecord - Basics</a>
          <a href="https://kitt.lewagon.com/knowledge/lectures/03-AR-Database%2F04-ActiveRecord-Advanced#source" class="btn bg-acajou btn-flat m-2" target="_blank">Le Wagon ActiveRecord - Associations & Validation</a>
          <a href="https://edgeguides.rubyonrails.org/active_record_migrations.html" class="btn bg-acajou btn-flat m-2" target="_blank">Rails guide ActiveRecord - migrations</a>
          <a href="https://guides.rubyonrails.org/active_record_validations.html" class="btn bg-acajou btn-flat m-2" target="_blank">Rails guide ActiveRecord - Validation</a>
          <!-- <a href="https://color.adobe.com/fr/create/color-wheel/" class="btn bg-acajou btn-flat m-2" target="_blank">Adobe color-picker</a> -->
          <!-- <a href="https://uigradients.com/#Bupe" class="btn bg-acajou btn-flat m-2" target="_blank">uigradients (css linear-gradient generator)</a> -->
        </div>
      </div>

    </div>

    <h2 class="text-center m-5" id="">2- Rails/Git main terminal commands</h2>

    <h3>Rails</h3>
    <p>Launch localhost server : <code>rails s</code> Server on <a href="http://localhost:3000">http://localhost:3000</a> To kill it : Ctrl + C.
    </p>
    <p>Launch rails console : <code>rails c</code> Quit with <code>exit</code></p>
    <p>Display all rails routes : <code>rails routes</code></p>
    <h3>Other</h3>
    <p>Open the browser to the new Git repo : <code>hub browse </code></p>
    <p>Open Sublim Text on the current folder : <code>stt</code></p>
    <h3>For DataBases</h3>
    <p><code>rails db:create</code> Create the db with empty schema</p>
    <p><code>rails db:migrate</code> To write the first schema or any schema modif</p>
    <p><code>rails db:seed</code> Run the db/seed.rb file</p>
    <p><code>rails db:rollback</code> Reverse last migration. Can be launched several time to reverse several migrations. Then remove migration file manually</p>
    <p><code>rails db:drop</code> Delete the DB</p>
    <p><code>rails db:reset</code> Drop + redo the actual schema</p>

    <h2 class="text-center m-5" id="">3- Start a new project and deploy it on Heroku</h2>

    <div class="row">
      <div class="col-sm-6 col-lg-4 col-xl-3">
          <div class="card p-2 m-1 bg-light">
            <h3>Links</h3>
            <a href="https://kitt.lewagon.com/knowledge/lectures/05-Rails%2F01-Rails-intro#source" class="btn bg-prune btn-flat m-2" target="_blank">First rails lecture</a>
            <a href="https://kitt.lewagon.com/knowledge/lectures/05-Rails%2F05-Rails-MC-with-images#source" class="btn bg-prune btn-flat m-2" target="_blank">Hosting lecture</a>
            <a href="https://heroku.com/" class="btn bg-prune btn-flat m-2" target="_blank">Heroku.com</a>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="container">

          <h3>Create new project</h3>

          <p><code>cd ~/code/$GITHUB_USERNAME</code>, donc : <code>cd ~/code/AgP42</code></p>
          <p>New project with local SQLite DB :<code>rails new nom-du-projet --skip-active-storage</code></p>
          <p>New project with production PostgreSQL DB :<code>rails new nom-du-projet --webpack --database=postgresql</code> Puis il faut créer la base avec <code>rails db:create</code></p>
          <p>New project with Le Wagon minimal template : </p>
          <p><code>rails new \
  --database postgresql \
  --webpack \
  -m https://raw.githubusercontent.com/lewagon/rails-templates/master/minimal.rb \
  CHANGE_THIS_TO_YOUR_RAILS_APP_NAME</code></p>

          </p>First commit and push :</p>
          <code>cd nom-du-projet</code>
          <p>(<code>git init</code> is already done by rails new)<p>
          <code>git add .</code>
          <code>git commit -m "rails new"</code>
          <code>hub create</code>
          (<code>git remote -v</code>)
          <code>git push origin master</code>

          <h3>Create the main components of the project :</h3>

          <p>Create a controller : <code>rails generate controller pages contact about</code></p>
          <p>Create a model : </p>
          <p><code>rails generate model Restaurant name:string stars:integer</code></p>
          <p> ou <code>rails g model Review name content:text restaurant:references</code></p>
          <p>Va créer la migration de la db associée. Si les types sont pas précisé : String</p>
          <p>Ne pas oublier de migrer la base avec : <code>rails db:migrate</code></p>
          <p><code>rails g migration AddAddressToRestaurants</code> Va créer une nouvelle migration pour la table <code>restaurants</code></p>

          <p><code>rails destroy [...]</code> will reverse any <code>rails generate [...]</code> commands</p>

          <h3>Quick Le Wagon Front-end setup</h3>

          <code>yarn add bootstrap</code>
          <code>yarn add jquery popper.js</code>
          <p>ajouter dans le gemfile : <code>gem 'simple_form'</code></p>
          <p><code>bundle install</code> <code>rails generate simple_form:install --bootstrap</code></p>
          <p><code>mv app/assets/stylesheets/application.css app/assets/stylesheets/application.scss</code></p>
          <p>in /* app/assets/stylesheets/application.scss */ <code>@import "bootstrap/scss/bootstrap";</code></p>

          <h3>Deployment on Heroku</h3>

          <p>Install Heroku : <code>wget -qO- https://toolbelt.heroku.com/install-ubuntu.sh | sh</code></p>
          <p>Login : <code>heroku login</code></p>
          <p>Create an Heroku app : <code>heroku create $YOUR_APP_NAME --region eu</code></p>
          <p>Let's deploy : <code>git push heroku master</code></p>
          <p>Migrate the db : <code>heroku run rails db:migrate</code></p>

          <h5>Usefull commands :</h5>
          <p>open in your browser : <code>heroku open</code></p>
          <p>Show the app logs and keep listening : <code>heroku logs --tail</code></p>
          <p>Run the production console : <code>heroku run rails c</code></p>
          <p>Send config keys : <code>heroku config:set CLOUDINARY_URL=cloudinary://166....</code> and check with : <code>heroku config</code></p>

        </div>
      </div>


    <h2 class="text-center m-5" id="">4- helpers rails</h2>

    <p>Links : <code><%= link_to "Know more about us", about_path %></code> Sortcut Sublim : lt + tab</p>
    <p>form_for : <code><%= form_for(@restaurant) do |f| %></code></p>
    <p>simple_form : <code><%= simple_form_for [@restaurant, @review] do |f| %></code> Va renvoyer un HTTP request POST **`restaurant_reviews_path`**</p>



    <h2 class="text-center m-5" id="">5- Routes</h2>

    <p>Les 7 routes du CRUD en 1 ligne : <code>resources :restaurants</code></p>
    <p>Correspond to : </p>
    <div class="container">
      <p><code>get    "restaurants",          to: "restaurants#index"</code></p>

      <p><code>get    "restaurants/new",      to: "restaurants#new"</code></p>
      <p><code>post   "restaurants",          to: "restaurants#create"</code></p>

      <p>NB: The `show` route needs to be *after* `new` route.</p>
      <p><code>get    "restaurants/:id",      to: "restaurants#show"</code></p>

      <p><code>get    "restaurants/:id/edit", to: "restaurants#edit"</code></p>
      <p><code>patch  "restaurants/:id",      to: "restaurants#update"</code></p>

      <p><code>delete "restaurants/:id",      to: "restaurants#destroy"</code></p>
    </div>

    <p>Limiter à certaines : <code>resources :restaurants, only: [:create, :index, :destroy]</code></p>

    <p>More infos : </p>
    <a href="https://kitt.lewagon.com/knowledge/lectures/05-Rails%2F03-Rails-restaurant-reviews#source" class="btn bg-acajou btn-flat m-2" target="_blank">Advanced routing lecture</a>
    <a href="https://guides.rubyonrails.org/routing.html" class="btn bg-acajou btn-flat m-2" target="_blank">Rails guide Routing</a>


      </div> <!-- fin container article principal -->


    </div>

    <!-- Including Bootstrap JS (with its jQuery dependency) so that dynamic components work -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
