.bg-beige {
  background-color: #d7cdcc;
}

.bg-black-coral{
  background-color: #59656f;
  color : white;
}

.bg-acajou {
  background-color: #4f3130;
  color : white;
}

.bg-grey-spanish{
  background-color: #88a09e;
}

.bg-light-cyan{
  background-color: #d6fff6;
}

.bg-blondi-blue{
  background-color: #01a7c2;
}

.bg-lapis-lazuli{
  background-color: #2374ab;
}

.bg-prune{
  background-color: #6f122d;
  color : white;
}
